
/********** PIE CHART **********/
#charts > * {
  width: 400px;
  display: inline-block;
}

.panel {
  margin: 4px !important;
}

.panel-title {
  text-align: center;
}

.nv-label text{
  font-size: 10px;
}

/********** TIME SERIES **********/
.box-margin {
	margin: 25px 0;
}

#language-box {
	height: 400px;
	overflow: auto;
}

.language-list {
	word-wrap: break-word;
	line-height: 2em;
}

.language-list span:hover {
	cursor: pointer;
	text-decoration: underline;
}

.nv-point {
	stroke-opacity: 1.0 !important;
}

.twitter-typeahead {
  display: table-cell !important;
}
/* TYPEAHEAD FIX*/
/* https://github.com/bassjobsen/typeahead.js-bootstrap-css/blob/master/typeaheadjs.css */

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  max-height: 200px;
  overflow-y: auto;
}
.tt-suggestion {
	cursor: pointer;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}


/********** ABOUT PAGE **********/
.dl-horizontal dt {
  width: 180px !important;
  overflow: visible !important;
}

.dl-horizontal dd {
  margin-left: 200px !important;
}